{% extends 'partials/base_layout.html' %}
{% block 'mainlayout' %} 
<style>
    .text-justify{
        text-align: justify !important;
    }
    .text-15{
        font-size: 15px !important;
    }
    
</style>


<div class="content-wrapper mx-3">
    <div class="content-header row">
    </div>
    <div class="content-body">  
        <div class="card mt-3 text-15"> 
            <div class="card-body">
                <div class="row m-2">
                    <div class="col-12 col-md-8">
                        <ul>
                            <li class="my-2">Manage your team and your projects</li>
                            <li class="my-2">One subscription with all your team members</li>
                            <li class="my-2">Print statements of work and quotes on demand</li>
                            <li class="my-2">Chat with team mates to stay up to date with changes</li>
                        </ul> 
                    </div>
                    <div class="col-12 col-md-4"> 
                        <img src="/Static/app-assets/images/illustration/pricing-Illustration.svg" width="95%" alt=""> 
                    </div>
                </div>
            </div>
        </div>
    
    
    
    
    
        <div class="card mt-5 text-15"> 
            <div class="card-body">
                <div class="row m-2">
                    <div class="col-12 col-md-6">
                        <ul>
                            <li class="my-2">Complex capabilities with straightforward functionality</li>
                            <li class="my-2">**Unlimited, multi-level data storage capabilities</li>
                            <li class="my-2">Efficiently and effectively link data across your spectrum of business</li>
                            <li class="my-2">Functions synergistically as a limitless data storage and organizational reservoir, a CRM, a PMS, an interactive marketing tool, a dynamic data analysis resource and more...</li>
                        </ul> 
                    </div>
                    <div class="col-12 col-md-6"> 
                        <ul>
                            <li class="my-2">Valuable, qualified data combined with uniquely tailored resources at your fingertips</li>
                            <li class="my-2">Limitless, multi-level framework teamed with robust business-focused tools and resources</li>
                            <li class="my-2">Sprint ahead with DataBucket - A wealth of Real-Time/Comprehensive data stored and shared in a multi-level, yet flexible framework teamed with an intuitive user interface along with dynamic functionality</li>
                            <li class="my-2">Chat with team mates to stay up to date with changes</li>
                        </ul> 
                    </div>
                </div>
            </div>
        </div>

    


        
        <div class="card mt-5 text-15"> 
            <div class="card-body mt-2">
                <center style="margin: 0px 20%;"> 
                        <h3>Testimonials</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam. </p>
 
                </center>
                <div class="row m-2">
                    <div class="col-12 col-md-4 "> 
                        <div class="card bg-light">
                            <div class="card-body m-2">
                                <img  width="95%"  src="/Static/app-assets/images/illustration/pricing-Illustration.svg" alt=""> 
                                <br>
                                <center class="mt-2">
                                    <h4>Teresa May</h4>
                                    <p>Founder at ET Company</p>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur. </span>
                                </center>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 "> 
                        <div class="card bg-light">
                            <div class="card-body m-2">
                                <img  width="95%"  src="/Static/app-assets/images/illustration/pricing-Illustration.svg" alt=""> 
                                <br>
                                <center class="mt-2">
                                    <h4>Maggie McLoan</h4>
                                    <p>Photographer at Studio LA</p>
                                    <span>Autem, totam debitis suscipit saepe sapiente magnam officiis quaerat necessitatibus odio assumenda perferendis labore laboriosam. </span>
                                </center>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 "> 
                        <div class="card bg-light">
                            <div class="card-body m-2">
                                <img  width="95%"  src="/Static/app-assets/images/illustration/pricing-Illustration.svg" alt=""> 
                                 
                                <center class="mt-2">
                                    <h4>Alexa Horwitz</h4>
                                    <p>Front-end Developer in NY</p>
                                    <span>Cras sit amet nibh libero, in gravida nulla metus scelerisque ante sollicitudin commodo cras purus odio, vestibulum in tempus viverra turpis. </span>
                                </center>
                                
                            </div>
                        </div>
                    </div>


                    
                </div>
            </div>
        </div>




    
    </div>
</div>

{% endblock 'mainlayout' %}