{% extends 'partials/base_layout.html' %}
{% block 'mainlayout' %}
<style>
    .text-justify {
        text-align: justify !important;
    }

    .text-15 {
        font-size: 15px !important;
    }
    .products  img{
        height: 300px !important;
    }
</style>


<div class="content-wrapper mx-3">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <div class="card mt-3 text-15">
            <div class="card-body">
                <div class="row m-2">
                    <div class="col-12 col-md-8">
                        <ul>
                            <li class="my-2">Manage your team and your projects</li>
                            <li class="my-2">One subscription with all your team members</li>
                            <li class="my-2">Print statements of work and quotes on demand</li>
                            <li class="my-2">Chat with team mates to stay up to date with changes</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4">
                        <img  width="95%"  src="/Static/app-assets/images/illustration/pricing-Illustration.svg" alt="">
                    </div>
                </div>
            </div>
        </div>



        <h1 class="mb-2">Support Products</h1>

        <div class="row match-height mb-3  products">

            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img  width="95%"  class="card-img-top"
                        src="https://www.ucl.ac.uk/laws/sites/laws/files/professor_steven_vaughan_lecturing_at_llm_induction_2019.png"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Product 1</h4>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-outline-primary waves-effect">Go somewhere</a>
                    </div>
                </div>
            </div> 
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img  width="95%"  class="card-img-top"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbrqvMPlb2F9hSI0Q5J0jVZb0YI6xzfPFILg&usqp=CAU"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Product 2</h4>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-outline-primary waves-effect">Go somewhere</a>
                    </div>
                </div>
            </div> 
            
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top"
                        src="https://miro.medium.com/v2/resize:fit:400/0*R5b0uaSs7IvbuxN6.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Product 3</h4>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-outline-primary waves-effect">Go somewhere</a>
                    </div>
                </div>
            </div>  

        </div>


        <h1 class="mb-2">ENTERPRISE Products</h1>

        <div class="row match-height   products">

            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjmXqJm0USgw7vb7EQ6H3J07josylhJeHvnA&usqp=CAU"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Product 1</h4>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-outline-primary waves-effect">Go somewhere</a>
                    </div>
                </div>
            </div> 
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCtNsrrVWRjHkI8PBDdMgB25cwFrNLLkai0A&usqp=CAU"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Product 2</h4>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-outline-primary waves-effect">Go somewhere</a>
                    </div>
                </div>
            </div> 
            
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top"
                        src="https://www.shutterstock.com/image-photo/female-lawyer-explaining-legal-situation-260nw-1647159865.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Product 3</h4>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                        <a href="#" class="btn btn-outline-primary waves-effect">Go somewhere</a>
                    </div>
                </div>
            </div> 
  



        </div>




    </div>
</div>

{% endblock 'mainlayout' %}