colorama==0.4.6
Django==4.1.5
Flask==3.0.1
flask_migrate==4.0.5
flask_script==2.0.6
flask_sqlalchemy==3.1.1
guzzle_sphinx_theme==0.7.11
mock==5.1.0
openai==1.9.0
Requests==2.31.0
setuptools==57.4.0
SQLAlchemy==2.0.11
freelancersdk