
<div class="modal-size-lg d-inline-block">
    <!-- Modal -->
    <div class="modal fade text-start" id="show_recipient_users_modal" tabindex="-1" aria-labelledby="show_recipient_users"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="show_recipient_users">Show Recipients (Users)</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"> 

                    <div class="row">
                        <div class="col-md-3 "> </div>
                        <span class="col-md-6"></span>
                        <!-- <button type="button" class="btn btn-primary waves-effect waves-float waves-light" data-bs-dismiss="modal">Accept</button>  -->
                        <button type="button" id="remove_file_access_btn" class="col-md-3 btn btn-danger waves-effect waves-float waves-light"  >Remove Access</button>

                    </div>

                    <table class="table mt-1">
                        <thead>
                            <tr>
                                <th style="padding-right:0px !important;width:30px !important">
                                    <div class="form-check form-check-inline  ">
                                        <input class="form-check-input " type="checkbox" id="recipient_users_table_checkbox_parent" value="unchecked">
                                    </div>
                                </th>
                                <!-- <th>No.</th> -->
                                <th>ID</th>
                                <th>Username</th>
                                <th>Date Joined</th> 
                            </tr>
                        </thead>
                        <tbody id="recipient_users_tbody"> 
                        </tbody>
                    </table> 
                </div> 
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="files_with_users_json" value="{{files_with_users_json}}">



<script>
    
    var files_with_users_json = JSON.parse($("#files_with_users_json").val())
    $(".show_recipient_users_modal_btn").click(function(e){
        $("#recipient_users_tbody").html('')
        var file_id = $(this).data("file_id")
        var target_file_recipienst = files_with_users_json[file_id]


        for(var i=0;i<target_file_recipienst.length;i++){
            var user = target_file_recipienst[i]
            if(user.id){
                $("#recipient_users_tbody").append(` 
                    <tr id="${user.id}" class="user_tr recipient_table_row">
                        <td>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input recipient_users_table_checkbox_child" type="checkbox" id="${user.id}" value="unchecked">
                            </div>
                        </td> 
                        <td>${user.id}</td>
                        <td>${user.username}</td>
                        <td>${user.date_joined}</td> 
                    </tr>
    
                `)
            } 
        }

            $("#remove_file_access_btn").click(function(e){
		        var user_ids = getSelectedChildIds('recipient_users_table_checkbox_child')
                if(user_ids.length<1){
                    return alert('Please select atleast one User')
                }
                for(var i=0;i<user_ids.length;i++){
                    var row = $(`tr#${user_ids[i]}.recipient_table_row`)
                    row.remove() 
                }

                $.ajax({
                    url: `{%url 'removeFileAccess'%}?user_ids=${user_ids}&file_id=${file_id}`,
                    dataType: 'json',
                    success: function (res) {
                        window.location.reload()
                        files_with_users_json = res.files_with_users_json 
                    }
                })
            })

        })
    populateTableCheckBoxes('recipient_users_table_checkbox_parent', 'recipient_users_table_checkbox_child') 

</script>