
<div class="modal-size-lg d-inline-block">
    <!-- Modal -->
    <div class="modal fade text-start" id="show_all_users_modal" tabindex="-1" aria-labelledby="show_all_users"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="show_all_users">Select Users</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3 ">
                            <!-- <label class="form-label" for="fp-default">Default</label> -->
                            <input type="date" id="file_sharing_date" class="form-control flatpickr-basic flatpickr-input active" placeholder="Select Date"  required >
                        </div>
                        <span class="col-md-6"></span>
                        <!-- <button type="button" class="btn btn-primary waves-effect waves-float waves-light" data-bs-dismiss="modal">Accept</button>  -->
                        <button type="button" id="share_file_btn" class="col-md-2 btn btn-primary waves-effect waves-float waves-light"  >Share Files</button>
                        <span class="col-md-1"></span>

                    </div>

                    <table class="table mt-1">
                        <thead>
                            <tr>
                                <th style="padding-right:0px !important;width:30px !important">
                                    <div class="form-check form-check-inline  ">
                                        <input class="form-check-input " type="checkbox" id="users_table_checkbox_parent" value="unchecked">
                                    </div>
                                </th>
                                <!-- <th>No.</th> -->
                                <th>ID</th>
                                <th>Username</th>
                                <th>Date Joined</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for user in available_users %}
                            <tr id="{{user.id}}" class="user_tr">
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input users_table_checkbox_child" type="checkbox" id="{{user.id}}" value="unchecked">
                                    </div>
                                </td>
                                <td>{{user.id}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.date_joined}}</td>

                            </tr>

                            {% endfor %}
                        </tbody>
                    </table> 
                </div> 
            </div>
        </div>
    </div>
</div>


<script>
	populateTableCheckBoxes('users_table_checkbox_parent', 'users_table_checkbox_child') 
    $("#file_sharing_date").val(new Date().toISOString().split('T')[0]) 
	$("#share_file_btn").click(function(e){
		var file_sharing_date = $("#file_sharing_date").val()
		if(!file_sharing_date){
			alert("Please select a date")
		}
		var file_ids = getSelectedChildIds('files_table_checkbox_child')
		var user_ids = getSelectedChildIds('users_table_checkbox_child')

		if(file_ids.length<1){
			alert("Please select atleast one file")  
			return
		}
		if(user_ids.length<1){
			alert("Please select atleast one User")  
			return
		}

		$.ajax({
			url: `{%url 'shareFiles'%}?file_ids=${file_ids}&user_ids=${user_ids}&file_sharing_date=${file_sharing_date}`,
			dataType: 'json',
			success: function (res) { 
                window.location.reload()
			}
		})
	})
</script>