{% extends 'partials/dashboard_layout.html' %} 

{% block 'mainlayout' %}
<style>
    .btn-floating {
    position: fixed;
    bottom: 6%;
    right: 20px;
    z-index: 1000;
    border-radius: 50%;
    padding: 15px;
    width: 70px !important;
    height: 65px !important;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .popup {
    display: none;
    position: fixed;
    bottom: 8rem;
    right: 20px;
    /* width: 90%; */
    height: auto;
    z-index: 999;
    margin: auto;
    overflow: auto; 
    box-sizing: border-box; 
    padding: 5px;
    background-color: rgb(134, 134, 134) !important;
    border-radius: 10px;
  }
  
  
  
  </style>

 

<h4>Dashboard</h4>

<div class="row">
 
    
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-header">
                <div>
                    <h2 class="fw-bolder mb-0">{{total_projects}}</h2>
                    <p class="card-text">Total Projects</p>
                </div>
                <div class="avatar bg-light-success p-50 m-0">
                    <div class="avatar-content">
                        <i data-feather='users'></i>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-header">
                <div>
                    <h2 class="fw-bolder mb-0">{{total_open_projects}}</h2>
                    <p class="card-text">Open Project</p>
                </div>
                <div class="avatar bg-light-success p-50 m-0">
                    <div class="avatar-content">
                        <i data-feather='user-plus'></i>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-header">
                <div>
                    <h2 class="fw-bolder mb-0">{{total_completed_projects}}</h2>
                    <p class="card-text">Completed Projects </p>
                </div>
                <div class="avatar bg-light-success p-50 m-0">
                    <div class="avatar-content">
                        <i data-feather='user-plus'></i>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-header">
                <div>
                    <h2 class="fw-bolder mb-0">{{total_disputed_projects}}</h2>
                    <p class="card-text">Total Disputes</p>
                </div>
                <div class="avatar bg-light-danger p-50 m-0">
                    <div class="avatar-content">
                        <i data-feather='list'></i>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-header">
                <div>
                    <h2 class="fw-bolder mb-0">{{required_profile.balance}}</h2>
                    <p class="card-text">Balance </p>
                </div>
                <div class="avatar bg-light-warning p-50 m-0">
                    <div class="avatar-content">
                        <i data-feather='check'></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
 
  





 
<script>
    $(document).ready(function() {
        $(".btn-floating").click(function() {
            $(".popup").toggle();
            $(this).find("i").toggleClass("fa-robot fa-times").fadeOut(0).fadeIn(400);
          });
      });
      
</script>

{% endblock 'mainlayout' %}