{% extends 'partials/dashboard_layout.html' %}
{% block 'mainlayout' %}


<section id="multiple-column-form">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        {% if required_video.id %}
                        Edit
                        {% else %}
                        Add New
                        {% endif %}
                        Video
                    </h4>
                </div>
                <div class="card-body">
                    <form class="form" action="{%url 'editVideo'%}?id={{required_video.id}}" method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="row">

                            <div class="col-md-6 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="">
                                            <label for="formFile" class="form-label">Select Thumbnail</label>
                                            <input class="form-control" type="file" id="thumbnail" name="thumbnail">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="">
                                            <label for="formFile" class="form-label">Select Video</label>
                                            <input class="form-control" type="file" id="video" name="video">
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="name">Title</label>
                                    <input type="text" id="title" class="form-control filter_input_query"
                                        placeholder="Title" name="title" value="{{required_video.title}}">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="mb-1">
                                    <label class="form-label" for="membership_category">Memebership</label>
                                    <select class="form-select" id="membership_category" name="membership_category">
                                        {% for membership_category in available_membership_categories %}
                                        {% if required_video.membership_category == membership_category %}
                                        <option value="{{membership_category}}" selected>{{membership_category}}
                                        </option>
                                        {% else %}
                                        <option value="{{membership_category}}">{{membership_category}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


 

                            <div class="col-12">
                                <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
                                <button type="submit"
                                    class="btn btn-primary me-1 waves-effect waves-float waves-light">Save </button>
                                <!-- <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Save and Return</button> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



{% block 'jsblock' %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>


</script>
{% endblock 'jsblock' %}
{% endblock 'mainlayout' %}