{% extends 'partials/dashboard_layout.html' %}
{% block 'mainlayout' %}


<section id="multiple-column-form">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> 
                        {% if required_ticket.id %}
                            Edit Ticket
                        {% else %}
                            Add New Ticket
                        {% endif %} 
                    </h4>
                </div>
                <div class="card-body">
                    <form class="form" action="{%url 'editTicket'%}?id={{required_ticket.id}}"  method="post" > {% csrf_token %}
                        <div class="row"> 
  
                                <div class="col-md-12 col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="name">Title</label>
                                        <input type="text" id="title" class="form-control filter_input_query" placeholder="Title" name="title"  value="{{required_ticket.title}}" >
                                    </div>
                                </div>       
                                
                                <!-- <div class="col-12">
                                    <div class="mb-1">
                                        <label class="form-label" for="description">Description</label>
                                        <textarea class="form-control" id="description" name="description"    rows="10" placeholder="Description">{{required_ticket.description}}</textarea>
                                    </div>
                                </div> -->
 
                            <div class="col-12"> 
                                <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
                                <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Save </button>
                                <!-- <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Save and Return</button> -->
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

 

{% block 'jsblock' %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" integrity="sha256-yE5LLp5HSQ/z+hJeCqkz9hdjNkk1jaiGG0tDCraumnA=" crossorigin="anonymous"></script>
<script>  
 
 
</script>
{% endblock 'jsblock' %} 
{% endblock 'mainlayout' %}