{% extends 'partials/dashboard_layout.html' %}
{% block 'mainlayout' %}

<section id="basic-datatable">




	<div class="row">
		<div class="col-12">
			<div class="card" style="padding:0px 2%">
				<div class="card-header border-bottom p-1">
					<div class="head-label">
						<h6 class="mb-0">Files Listing</h6>
					</div>


					
					<div class="dt-action-buttons text-end"> 
						<div class="dt-buttons d-inline-flex">
							<a type="button" class="btn btn-info" id="clear_filter_btn">
								Clear Filter
							</a>
						</div> 



                        <!-- <button id="delete_files_btn" type="button" class="btn btn-danger waves-effect">
                            <i class="me-50" data-feather="trash"></i>
                            <span>Delete Files</span>
                        </button> -->


                        <!-- 
                        <button type="button" class="btn btn-success waves-effect" id="show_all_users_modal_btn" data-bs-toggle="modal" data-bs-target="#show_all_users_modal">
                            <i class="me-50" data-feather="share-2"></i>
                            Share
                        </button> -->

                        <a href="{%url 'addNewProject'%}" type="button" class="btn btn-primary waves-effect">
                            <i class="me-50" data-feather="plus"></i>
                            <span>Post New Porject</span>
                        </a>
                



					</div>
				</div>


				<div class="row" id="basic-table">
					<div class="col-12">
						<div class="card">
							<div class="table-responsive">
								<div class="row m-0">
									<div class="col-md-3 col-12">
									  <div class="mb-1">
										<label class="form-label" for="file_name">Title</label>
										<input type="text" id="file_name" class="form-control filter_input_query" placeholder="File Name" name="username">
									  </div>
									</div>
									<!-- <div class="col-md-4 col-12">
									  <div class="mb-1">
										<label class="form-label" for="uuid">UUID</label>
										<input type="text" id="uuid" class="form-control filter_input_query" placeholder="Reference Number" name="UUID">
									  </div>
									</div> -->

                                    
                                    <div class="col-md-3 col-12">
                                        <div class="mb-1">
                                            <label class="form-label" for="basicSelect">Status</label>
                                            <select class="form-select" id="basicSelect">
                                                <option value="">All</option>
                                                {% for status in available_project_statuses %}
                                                    <option value="{{status}}">{{status}}</option>
                                                    
                                                {% endfor %} 
                                            </select>
                                        </div>
                                    </div> 

									<div class="col-md-3 col-12">
                                        <div class="mb-1">
                                            <label class="form-label" for="upload_date">Start Date</label>
										<input type="date" id="start_date" class="form-control filter_input_query" placeholder="Start Date" name="upload_date">
									  </div>
									</div>
									<div class="col-md-3 col-12">
                                        <div class="mb-1">
                                            <label class="form-label" for="upload_date">End Date</label>
										<input type="date" id="end_date" class="form-control filter_input_query" placeholder="End Date" name="upload_date">
									  </div>
									</div>
				  
				  
                                    

				  
				   
				  
								  </div>
								<table class="table mt-1">
									<thead>
										<tr>
											<th style="padding-right:0px !important;width:30px !important">
												<div class="form-check form-check-inline  ">
													<input class="form-check-input  " type="checkbox"
														id="projects_table_checkbox_parent" value="unchecked">
												</div>
											</th>
											<th>No.</th>
											<th>Title</th>
											<!-- <th>UUID</th> -->
											<th>Budget</th>
											<th>Proposals</th>
											<th>Status</th>
											<th>Options</th>
										 
										</tr>
									</thead>
									<tbody>

										{% for project in available_projects %}
										<tr id="{{project.id}}" class="project_tr">
											<td>
												<div class="form-check form-check-inline">
													<input class="form-check-input projects_table_checkbox_child" type="checkbox" id="{{project.id}}" value="unchecked">
												</div>
											</td>
											<td> {{ forloop.counter }} </td>
											<td> <a>{{project.title}} </a> </td>
											<!-- <td>{{project.file_name}}</td> -->
											<td>{{project.budget}}</td>
											<td>{{project.bids.all.count}}</td>
											<td>{{project.status}}</td>
											<td> 
                                                
                                                <a href="{%url 'viewProject'%}?id={{project.id}}" class="btn btn-primary "  >View Details</i> </a> 
                                                <a href="{%url 'deleteProject'%}?id={{project.id}}" class="btn btn-danger delete_project_btn"  onclick=""><i class="me-50 " data-feather="trash"></i> </a> 
                                            </td>
										 

										</tr>

										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

 
<script>
	populateTableCheckBoxes('projects_table_checkbox_parent', 'projects_table_checkbox_child')
	var available_projects = JSON.parse(`{{json_available_projects |safe}}`);
	var target_rows = $(".project_tr")


    $(".delete_project_btn").click(function (e) {
        if(!confirm("Are you sure you want to delete this project ?")){
            e.preventDefault();
            return ;
        }
    })
  
	$('.filter_input_query').on('keyup change', function (e) {
		var file_name = $('#file_name').val().replace("  ", '').toLowerCase()
		var uuid = $('#uuid').val().replace("  ", '').toLowerCase()
		var upload_date = $('#upload_date').val().replace("  ", '').toLowerCase() 

		for (var i = 0; i < target_rows.length; i++) {
			var current_record_id = $(target_rows[i]).prop('id')
			var current_record = available_projects[i] 
      
			if (
				current_record.orignal_file_name.toLowerCase().includes(file_name) &&
				current_record.file_name.toLowerCase().includes(uuid) && 
				current_record.timestamp.toLowerCase().includes(upload_date)   
			) {
				$(target_rows[i]).show()
			} else {
				$(target_rows[i]).hide()
			}
		}
	})

	$("#clear_filter_btn").click(function (e) {
		$('#file_name').val('')
		$('#uuid').val('')
		$('#upload_date').val('') 
		for (var i = 0; i < target_rows.length; i++) {
			$(target_rows[i]).show()
		}
	})




	$("#delete_files_btn").click(function () {
		var ids = getSelectedChildIds('projects_table_checkbox_child')
		console.log(ids)
		if (ids.length < 1) {
			alert("Please select atleast one File")
			return
		}
		var decision = confirm("Are you sure to delete selected Files ?")
		if (!decision) {
			e.preventDefault()
			return
		} 
		$.ajax({
			url: `{%url 'manageProjects'%}?ids=${ids}`,
			dataType: 'json',
			success: function (res) {
				window.location.reload()
			}
		})
	})
</script>
{% endblock 'mainlayout' %}