{% extends 'partials/dashboard_layout.html' %}
{% block 'mainlayout' %}

<section id="basic-datatable">


 


	<div class="row">
		<div class="col-12">
			<div class="card" style="padding:0px 2%">
				<div class="card-header border-bottom p-1">
					<div class="head-label">
						<h6 class="mb-0">Project Listing</h6>
					</div>


					
					<div class="dt-action-buttons text-end"> 
						<div class="dt-buttons d-inline-flex">
							<a href="{%url 'searchProjects'%}" type="button" class="btn btn-info" id="clear_filter_btn">
								Clear Filter
							</a>
						</div> 



                        <button id="" type="button" class="btn btn-secondary waves-effect" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                            <i class="me-50" data-feather="filter"></i>
                            <span>Filter</span>
                        </button>
 

                        <a id="apply_filter_btn" type="button" class="btn btn-primary waves-effect">
                            <i class="me-50" data-feather="plus"></i>
                            <span>Apply Filter</span>
                        </a>
                



					</div>
				</div>


				<div class="row" id="basic-table">



					<form action="/dashboard/searchProjects" method="get" id="filter_form">
						<div class="row m-0 collapse"  id="collapseExample" >
							<div class="col-md-6 col-12">
							  <div class="mb-1">
								<label class="form-label" for="file_name">Title</label>
								<input type="text" id="file_name" class="form-control filter_input_query" placeholder="File Name" name="query_title" value="{{query_title}}">
							  </div>
							</div>
							
							
							<div class="col-md-3 col-12">
							  <div class="mb-1">
								<label class="form-label" for="file_name">Min Budget</label>
								<input type="number" id="file_name" class="form-control filter_input_query" placeholder="Min Budget" name="query_min_budget" value="{{query_min_budget}}">
							  </div>
							</div>
	
							<div class="col-md-3 col-12">
							  <div class="mb-1">
								<label class="form-label" for="file_name">Max Budget</label>
								<input type="number" id="file_name" class="form-control filter_input_query" placeholder="Max Budget" name="query_max_budget" value="{{query_max_budget}}">
							  </div>
							</div>
							 
							  
	 
							<div class="col-md-12 col-12 mb-1" data-select2-id="46">
								<label class="form-label" for="data_receiver">Skills</label>
								<div class="position-relative" data-select2-id="45">
									<select name="query_skills" class="select2 form-select select2-hidden-accessible" id="data_receiver" multiple="" data-select2-id="data_receiver" tabindex="-1" aria-hidden="true">
									<optgroup label="All" data-select2-id="52">
										{% for skill in available_skills %}
										{% if skill.name in query_skills  %}
										<option value="{{skill.name}}" data-select2-id="53-{{skill.name}}" selected>{{skill.name}}</option>
										{% else %} 
										<option value="{{skill.name}}" data-select2-id="53-{{skill.name}}">{{skill.name}}</option>
										{% endif %} 

										{% endfor %} 
									</optgroup>
								   
									
								</select>
								</div>
							</div> 
	
	
		  
							
	
		  
		   
		  
						  </div>
					</form>

					<div class="col-12">

						{% for project in available_projects %}
							<div class="card">



								


								<div class="card-body" style="background-color: rgb(246, 251, 255);">
									<div class="d-flex justify-content-between">
										<h3>{{project.title}}</h3>
										<span>
											
											{% if project.bid_submitted %}
												
											{% else %}
												
											<a class="btn btn-primary"  href="{%url 'viewProject'%}?id={{project.id}}">Submit Proposal</a>
											{% endif %}


											<a class="btn btn-primary"  href="{%url 'viewProjectBids'%}?id={{project.id}}">View Bids</a>
										</span>
									</div>
									<span>{{project.description}}</span>
								<span><br>
									<b>Budget: </b>{{project.budget}}<br>
									<b>Timeline: </b>{{project.start_date}} - {{project.end_date}} <br>
									<b>Skills:</b>
									{% for skill in project.skills.all %}
										<span class="badge bg-success">{{skill}}</span>
									{% endfor %}

								</span>
								
								
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

 
<script>


	populateTableCheckBoxes('projects_table_checkbox_parent', 'projects_table_checkbox_child')
	 


    $(".delete_project_btn").click(function (e) {
        if(!confirm("Are you sure you want to delete this project ?")){
            e.preventDefault();
            return ;
        }
    })

    $("#apply_filter_btn").click(function (e) {
         $("#filter_form").submit()
    })

    $(".withdraw_btn").click(function (e) {
        if(!confirm('Are you sure to withdraw bid ?')){
			e.preventDefault();
		}
	})


  
 



 </script>
{% endblock 'mainlayout' %}