{% extends 'partials/dashboard_layout.html' %}
{% block 'mainlayout' %}
<section id="basic-datatable">
  <div class="row">
    <div class="col-12">
      <div class="card" style="padding:0px 2%">
        <div class="card-header border-bottom p-1">
          <div class="head-label">
            <h4 class="mb-0">Service Analytics</h4>
          </div>
          <!-- <div class="dt-action-buttons text-end">
            <div class="  d-inline-flex"> 
              <input onkeyup="profileListingTableQueryFilter(2)" type="text" id="query_user_name" class="form-control" placeholder="Search Users" name="query_user_name"  value="" >
          </div> 

            <div class="dt-buttons d-inline-flex">
              <button type="button" class="btn btn-danger" id="multi_select_delete_user_btn">
                Delete Users
              </button>
            </div>   
          </div> -->
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div>
                  <h5>Total Monthly Collections</h5>
                  <span>$ {{current_month_transacrions}}</span>
                </div>
                <div>
                  <h5>Basic Memberships</h5>
                  <span>{{total_basic_members}}</span>
                </div>
                <div>
                  <h5>Standard Memberships</h5>
                  <span>{{total_standard_members}}</span>
                </div>
                <div>
                  <h5>Premium Memberships</h5>
                  <span>{{total_premium_members}}</span>
                </div>

                <div>
                  <h5>Total Transactions</h5>
                  <span>{{total_transactions}} (${{total_transactions_amount}})</span>
                </div>
              </div>
              <div class="card-body">
                <div style="height:300px">
                  <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                      <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                      <div class=""></div>
                    </div>
                  </div><canvas class="service_analytics_chart chartjs chartjs-render-monitor" data-height="300"
                    width="991" height="300" style="display: block; width: 991px; height: 300px !important;"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div style="margin-top: 25%;"></div>

<span id="analytics_chart_data" style="display: none;">{{analytics_chart}}</span>

{% endblock 'mainlayout' %}