{% extends 'partials/dashboard_layout.html' %}
{% block 'mainlayout' %}

<section id="basic-datatable">


	<div class="card">
		<!-- <div class="card-header">
			<h4 class="card-title">Basic Tab</h4>
		</div> -->
		<div class="card-body">
			{% include 'partials/project/navigation_bar.html'   %} 
			<div class="tab-content">  
				<div>
					<span>
						<b style="font-size: 20px;">{{required_project.title}}</b> ({{required_project.start_date}} - {{required_project.end_date}})
					</span> 
					<hr>
					Budget: <b>${{required_project.budget}}</b>
					<hr>
					<span>
						{{required_project.description}}
					</span>
					
				</div>
			</div>
		</div>
	</div>

	{% if allow_bid_submittion and required_project.status ==  PROJECT_STATUS_OPEN %}
		
	{% include 'partials/project/submit_propsoal_form.html'   %}
	{% endif %}
	

	
	{% if required_project.created_by.id == profile.id %}
		
		
	<div>
		<div class="d-flex align-items-spacebetween" style="justify-content: space-between;">
			{% if required_project.status == PROJECT_STATUS_ACTIVE %}
			<a class="btn btn-info" href="{%url 'markProjectCompleted'%}?id={{required_project.id}}">Mark Project Completed</a>
			{% endif %}
			
			{% if required_project.status == PROJECT_STATUS_ACTIVE %}
			<a class="btn btn-danger">Raise Dispute</a>
			{% endif %}
		</div>
	</div>
	<br>
	
	{% else %}
	{% endif %}


</section>

 
<script>
 
</script>
{% endblock 'mainlayout' %}